{% extends 'base.html' %} {% block title %}login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section d-lg-flex justify-content-center align-items-end">
    <div class="col-md-8">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Change Paswword</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <a href="{% url 'blog:list' %}"><button class="btn btn-outline-info px-5 my-4" >Cancel</button></a>
    </div>

</div>
{% endblock %}